APIFY_TOKEN=
APIFY_META_ADS_ACTOR_ID=
APIFY_META_ADS_TASK_ID=
APIFY_TIMEOUT_SECONDS=120
APIFY_MAX_ITEMS=25

GDRIVE_DATA_URL=
GOOGLE_DRIVE_FILE_ID=

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2

IMAGE_SEED=crowdwisdom
